.page-archive {
  .archive-entries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--margin-large);
    align-items: flex-start;
    @media #{$viewport-tablet} {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--margin-mobile);
    }
    @media #{$viewport-mobileM} {
      grid-template-columns: 1fr;
      gap: var(--margin-mobile);
    }
  }
  .archive-entry {
    position: relative;
    padding-top: 100%;
    .archive-entry-header {
      margin: calc(var(--margin-small) + var(--margin-xsmall))
        var(--margin-medium) 0 0;
      display: flex;
      flex-direction: column-reverse;
      & + .archive-entry-body {
        display: block;
      }
    }
    .entry-title-link {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      font-feature-settings: "palt";
      letter-spacing: 0.2em;
    }
    .archive-date,
    .categories {
      font-size: var(--fontSize-small);
      margin: var(--margin-xsmall) 0 0;
      a {
        color: var(--color-gray);
      }
    }
    .entry-thumb-link {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      &:hover,
      &:focus {
        .entry-thumb {
          opacity: 0.8;
        }
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        padding-top: 100%;
        background: var(--color-white);
      }
    }
    .entry-thumb {
      float: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding-top: 100%;
      margin: 0;
      background-color: var(--borderColor-default);
      transition: opacity var(--linkTransition);
    }
    .archive-entry-body {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      padding-top: calc(100% - 2px);
      overflow: hidden;
      border: 1px solid var(--borderColor-default);
    }
    .entry-description {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: var(--color-lightGray);
      text-align: justify;
      padding: var(--margin-medium);
    }
    .social-buttons {
      display: none;
    }
  }
}
