.entry {
  &.mode-markdown .entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: var(--fontSize-bodyText);
      margin: var(--margin-xlarge) 0 0;
      @include palt();
    }
    h1 {
      font-size: var(--fontSize-heading);
      &::before {
        content: "";
        display: block;
        width: 4em;
        height: 0;
        margin: 0 0 calc(var(--margin-small) + var(--margin-medium));
        border-top: 1px solid var(--color-gray);
      }
    }
    h2 {
      font-size: var(--fontSize-heading);
    }
  }
  &.mode-hatena .entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: var(--fontSize-bodyText);
      margin: var(--margin-xlarge) 0 0;
      @include palt();
    }
    h3 {
      font-size: var(--fontSize-heading);
      &::before {
        content: "";
        display: block;
        width: 4em;
        height: 0;
        margin: 0 0 calc(var(--margin-small) + var(--margin-medium));
        border-top: 1px solid var(--color-gray);
      }
    }
    h4 {
      font-size: var(--fontSize-heading);
    }
  }
  .entry-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    .customized-header,
    .social-buttons {
      order: 2;
      width: 100%;
      margin: var(--margin-medium) 0 0;
    }
    & + .ad {
      margin: var(--margin-large) 0;
    }
  }
  .entry-date {
    order: 1;
  }
  .entry-title {
    order: 0;
    flex: 1;
    min-width: 0;
    font-size: var(--fontSize-heading);
    margin: -2px var(--margin-large) 0 0;
    @include palt();
    min-width: 50%;
    @media #{$viewport-laptop} {
      min-width: 100%;
      margin-bottom: var(--margin-small);
    }
  }
  .entry-categories {
    margin: 0 0 0 var(--margin-medium);
    order: 1;
    display: flex;
    flex-wrap: wrap;
    a {
      &:not(:last-child) {
        &::after {
          content: "・";
        }
      }
    }
  }
  .entry-header-menu {
    margin: 0 0 var(--margin-medium) 0;
    position: absolute;
    bottom: 100%;
    right: 0;
  }
  .entry-content {
    margin: var(--margin-large) 0 0;
    font-size: var(--fontSize-bodyText);
    line-height: var(--lineHeight-bodyText);

    & > p {
      margin: var(--margin-medium) 0;
    }

    & > ul,
    & > ol,
    dl,
    table,
    figure,
    span[itemtype="http://schema.org/Photograph"],
    .images-row,
    blockquote,
    .hatena-asin-detail,
    pre {
      margin: var(--margin-large) 0;
    }

    & > p,
    & > ul,
    & > ol,
    dl,
    blockquote,
    figure,
    hr {
      width: 100% / 3 * 2;
      @media #{$viewport-laptop} {
        width: auto;
      }
    }

    ul {
      li {
        padding: 0 0 0 1.5em;
        list-style-type: none;
        &::before {
          display: inline-block;
          content: "—";
          width: 1.5em;
          margin: 0 0 0 -1.5em;
        }
      }
    }
    ol {
      padding: 0 0 0 1.5em;
    }

    dt {
      font-style: italic;
    }
    dd {
      margin: 0 0 0 1.5em;
    }

    span[itemtype="http://schema.org/Photograph"],
    .images-row {
      width: 100% / 2 * 3;
      @media #{$viewport-laptop} {
        width: auto;
      }
    }
    .images-row {
      figure,
      span[itemtype="http://schema.org/Photograph"]
      {
        & + figure,
        & + span[itemtype="http://schema.org/Photograph"]
        {
          margin-left: var(--margin-medium);
        }
        span {
          width: 100%;
        }
      }
    }
    span[itemtype="http://schema.org/Photograph"]
    {
      display: block;
    }
    img {
      vertical-align: bottom;
      margin: 0;
    }
    figure {
      span[itemtype="http://schema.org/Photograph"]
      {
        margin: 0;
      }
    }
    figcaption {
      font-size: var(--fontSize-default);
      line-height: var(--lineHeight-default);
      opacity: 1;
      text-align: left;
      width: 50%;
      margin: var(--margin-medium) 0 0 1.5em;
      font-style: italic;
    }
    .hatena-id-icon {
      img {
        vertical-align: middle;
        margin: 0 var(--margin-xsmall) 0 0;
        transform: translateY(-1.5px);
      }
    }
    hr {
      border: none;
      margin: var(--margin-large) 0;
      &::before {
        content: "";
        display: block;
        width: 4em;
        height: 0;
        border-top: 1px solid var(--color-gray);
        margin: 0 auto;
      }
    }

    a {
      @include underlineLinkStyles();
    }

    blockquote {
      padding: 0 0 0 1.5em;
      font-style: italic;
    }

    pre.code,
    code {
      background: var(--backgroundColor-default);
      letter-spacing: 0.05em;
      border: 1px solid var(--borderColor-default);
      font-family: var(--fontFamily-default);
      font-weight: var(--fontWeight-bold);
    }
    pre.code {
      padding: var(--margin-medium)
        calc(var(--margin-medium) + var(--margin-xsmall));
    }
    code {
      padding: 0.25em 0.5em;
      border-radius: 0;
    }

    table {
      width: 100%;
      border-right: 1px solid var(--borderColor-default);
      border-bottom: 1px solid var(--borderColor-default);
      border-collapse: collapse;
      th,
      td {
        border-top: 1px solid var(--borderColor-default);
        border-left: 1px solid var(--borderColor-default);
        padding: var(--margin-medium);
      }
      th {
        font-weight: var(--fontWeight-normal);
        background: var(--backgroundColor-default);
      }
    }

    .hatena-asin-detail {
      padding: var(--margin-medium);
      & > a {
        display: block;
        border: none;
        margin: 0 var(--margin-medium) 0 0;
        float: left;
      }
      img {
        float: none;
        margin: 0;
        vertical-align: top;
      }
      .hatena-asin-detail-title {
        font-weight: var(--fontWeight-normal);
      }
      li {
        &::before {
          display: none;
        }
      }
    }

    .twitter-tweet {
      border: none;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }

  .entry-footer {
    margin: var(--margin-xlarge) 0 0;
    display: flex;
    flex-wrap: wrap;
    .entry-tags-wrapper,
    .social-buttons,
    .customized-footer,
    .comment-box {
      width: 100%;
    }
    .entry-footer-section {
      width: 33.333333%;
      @media #{$viewport-laptop} {
        width: 25%;
      }
      @media #{$viewport-tablet} {
        width: 100%;
      }
    }
    .social-buttons {
      margin: var(--margin-large) 0 0;
    }
    .google-afc-image {
      margin: var(--margin-large) 0 0;
      width: 100% !important;
    }
    .entry-footer-modules {
      margin: var(--margin-large) 0 0;
    }
    .hatena-module {
      border-top: 1px solid var(--borderColor-default);
      padding: var(--margin-large) 0 0;
      display: flex;
      align-items: center;
      @media #{$viewport-tablet} {
        display: block;
      }
    }
    .hatena-module-title {
      width: 33.333333%;
      @media #{$viewport-laptop} {
        width: 25%;
      }
      @media #{$viewport-tablet} {
        width: 100%;
      }
    }
    .hatena-module-body {
      flex: 1;
      min-width: 0;
      @media #{$viewport-tablet} {
        margin: var(--margin-large) 0 0;
      }
    }
    .related-entries {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--margin-large);
      @media #{$viewport-tablet} {
        grid-template-columns: 1fr;
      }
    }
    .related-entries-item-inner {
      position: relative;
      padding-left: calc(100px + var(--margin-medium));
      height: 100px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      &::before {
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--backgroundColor-placeholder);
      }
    }
    .related-entries-image-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .related-entries-image {
      float: none;
      margin: 0;
      vertical-align: top;
    }
    .related-entries-title {
      @include truncateMultipleLines(2);
      @include palt();
    }
    .related-entries-entry-body {
      display: none;
    }
    .related-entries-date-link {
      margin: var(--margin-xsmall) 0 0;
      font-size: var(--fontSize-small);
    }
  }
  .comment-box {
    border-top: 1px solid var(--borderColor-default);
    margin: var(--margin-large) 0 0;
    padding: var(--margin-large) 0 0 33.333333%;
    position: relative;
    @media #{$viewport-laptop} {
      padding: var(--margin-large) 0 0 25%;
    }
    @media #{$viewport-tablet} {
      padding: var(--margin-large) 0 0 calc(100px + var(--margin-medium));
    }
    &::before {
      content: "コメント";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-top: calc(var(--margin-large) / 2);
    }
  }
  .entry-comment {
    list-style-type: none;
    margin: 0 0 var(--margin-large);
    & > * {
      & + * {
        margin: var(--margin-small) 0 0;
      }
    }
    .hatena-id-icon {
      display: none;
    }
  }
}
