:root {
  --color-black: #000;
  --color-gray: #666;
  --color-lightGray: #aaa;
  --color-light: #ddd;
  --color-white: #fff;

  --borderColor-default: #e5e5e5;

  --backgroundColor-default: #fafafa;
  --backgroundColor-placeholder: #f0f0f0;

  --letterSpacing-default: 0.1em;

  --margin-xlarge: 80px;
  --margin-large: 40px;
  --margin-medium: 20px;
  --margin-small: 10px;
  --margin-xsmall: 5px;

  --margin-side: 5vw;
  --margin-mobile: 30px;

  --fontSize-heading: 18px;
  --fontSize-bodyText: 16px;
  --fontSize-default: 14px;
  --fontSize-small: 11px;

  --fontWeight-normal: 300;

  --lineHeight-bodyText: 2;
  --lineHeight-default: 1.5;
}

$viewport-laptop: "screen and (max-width: 1024px)";
$viewport-tablet: "screen and (max-width: 768px)";
$viewport-mobileL: "screen and (max-width: 425px)";
$viewport-mobileM: "screen and (max-width: 375px)";

body {
  background: var(--color-white);
  font-size: var(--fontSize-default);
  letter-spacing: var(--letterSpacing-default);
  line-height: var(--lineHeight-default);
  cursor: default;
  font-family: "Quicksand", sans-serif;
  font-weight: var(--fontWeight-normal);
}
::selection {
  background: var(--backgroundColor-placeholder);
}
::placeholder {
  color: var(--color-lightGray);
  letter-spacing: var(--letterSpacing-default);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fontSize-default);
  font-weight: var(--fontWeight-normal);
  margin: 0;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

@mixin truncateMultipleLines($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@mixin palt() {
  font-feature-settings: "palt";
  letter-spacing: 0.2em;
}
