body {
  &.header-image-enable {
    #blog-title {
      #blog-title-inner {
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      #blog-title-content {
        margin: 0 var(--margin-large) 0 0;
        text-align: right;
        max-width: 20vw;
      }
      #title {
        a {
          text-shadow: none;
        }
      }
      #blog-description {
        font-weight: var(--fontWeight-normal);
        text-shadow: none;
        font-size: var(--fontSize-small);
        margin: var(--margin-xsmall) 0 0;
      }
    }
  }
  &.header-image-only {
    #blog-title {
      #blog-title-inner {
        background-size: cover;
      }
    }
  }
}

#container {
  padding: var(--margin-side);
}

#blog-title {
  margin: 0 0 var(--margin-side) !important;
}

.breadcrumb {
  margin: 0 0 var(--margin-side) !important;
}

.ad {
  border-top: 1px solid var(--borderColor-default);
  border-bottom: 1px solid var(--borderColor-default);
  padding: var(--margin-medium) 0;
  margin: 0 0 var(--margin-large);
}

#content-inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  @media #{$viewport-tablet} {
    display: block;
  }
}

#wrapper {
  width: 60vw;
}

#box2 {
  width: 20vw;
  @media #{$viewport-tablet} {
    width: 100%;
    margin: 0;
  }
}

#bottom-editarea {
  margin: var(--margin-side) 0 0;
}

#footer {
  padding: var(--margin-side) var(--margin-side) var(--margin-large);
  overflow: hidden;
}
#footer-inner {
  width: 60vw;
  float: right;
  .footer-address {
    img,
    span {
      vertical-align: middle;
    }
  }
  .services {
    margin: var(--margin-small) 0 0;
    font-size: var(--fontSize-small);
    color: var(--color-lightGray);
    a {
      color: var(--color-black);
      margin: 0 var(--margin-xsmall) 0 0;
    }
    .report-abuse-link {
      margin: 0 0 0 var(--margin-xsmall);
    }
  }
}
