#container {
  margin: 0 auto;
  padding: var(--margin-side);
  // max-width: var(--container-maxWidth);
}

#blog-title {
  display: none;
}

#content-inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  @media #{$viewport-tablet} {
    display: block;
  }
}

#wrapper {
  width: 60vw;
}

#box2 {
  width: 20vw;
  @media #{$viewport-tablet} {
    width: 100%;
    margin: 0;
  }
}
