#container {
  margin: 0 auto;
  padding: var(--margin-xlarge);
  max-width: var(--container-maxWidth);
}

#blog-title {
  display: none;
}

#content-inner {
  display: flex;
  flex-direction: row-reverse;
  @media #{$viewport-tablet} {
    display: block;
  }
}

#wrapper {
  flex: 1;
  min-width: 0;
}

#box2 {
  width: 250px;
  margin: 0 var(--margin-xlarge) 0 0;
  @media #{$viewport-tablet} {
    width: 100%;
    margin: 0;
  }
}
